
  <% for(var i = 0; i < data.length; i++){%>
    <% let team = data[i]%>
    <h2><%=team.team%></h2>
    <table>
      <thead>
        <th>Player</th>
        <th>Position</th>
      </thead>


      <% let playerPositions = Object.getOwnPropertyNames(team) %>
      <% for(var j=1; j < playerPositions.length; j++ ) {%>
        <tr>
          <td><%= team[playerPositions[j]] %></td>
          <td><%= playerPositions[j]%></td>
        </tr>

        <% } %>
      </table>
      <% } %>
      <a href='/'>
        <button type="button"  name="button" >Home</button>
      </a>
