
<html>
  <head>
    <meta charset="utf-8">
    <title>LEARN Baseball League</title>
  </head>
  <body>
    <a href='/create'>
    <button type="button"  name="button" >Create New Team</button>
  </a>
  </body>
</html>
