    <a href='/create'>
    <button type="button" class='poopButton' name="button" >Create New Team</button>
  </a>
  <br>
  <a href='/display'>
  <button type="button" class='poopButton' name="button" >View Teams in League</button>
  </a>
